<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-4">

            <div class="card border-0" style="width: 18rem;">

                <div class="d-flex justify-content-center">
                    <img src="https://avatars3.githubusercontent.com/u/61565289?s=460&u=288b382e32040a6febc7c5f16ad470030a9f86c7&v=4"
                        class="card-img-top rounded-circle w-75" alt="...">
                </div>

                <div class="card-body">

                    <h5 class="card-title text-center">Pedro Zanotti</h5>

                    <p class="card-text text-center">Estudante de desenvolvimento Web Front-end na Generation Brasil.
                    </p>

                    <a href="https://twitter.com/floidthebarber"
                        class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">Twitter</a>

                    <a href="https://github.com/pedrozanotti" class="btn btn-outline-dark d-flex justify-content-center"
                        target="_blank">Github</a>

                    <hr class="mt-4 mb-4">
                    <h6 class="mb-3 text-monospace text-center">Pesquisa por título</h6>

                    <input type="text" class="form-control mb-3 w-100" placeholder="Pesquisar postagem">

                    <button class="btn btn-outline-warning w-100" type="button">Pesquisar</button>
                </div>
            </div>

        </div>

        <div class="col-md-8">

            <div>
                <h3 class="text-center mb-4 text-monospace">Como tem sido minha experiência na Generation?</h3>

                <div class="form-group">

                    <label for="titulo" class="text-monospace">Título:</label>
                    <input type="text" name="titulo" id="titulo" class="form-control" 
                    placeholder="Digite seu título" [(ngModel)]="postagem.titulo">
                </div>
                <div class="form-group">
                    <label for="texto" class="text-monospace">Texto:</label>
                    <textarea name="texto" id="texto" cols="30" rows="4" class="form-control"
                        placeholder="Digite seu texto" [(ngModel)]="postagem.texto"></textarea>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="menu" class="btn btn-outline-info w-25" (click)="publicar()">Publicar</button>
                </div>

            </div>

            <hr class="mb-5 mt-5">

            <h3 class="text-monospace text-center mb-5">Minhas postagens</h3>

            <div *ngIf = 'alerta'>
            <div class="alert alert-success" role="alert">
                Postagem apagada com sucesso.
              </div>
            </div>
         <div class="card mb-4" *ngFor="let postagem of listaPostagens | orderBy : key : 
         reverse">

             <div class="card-header">

                <div class="row">

                    <div class="col md-8">
                        <h5 class="card-tittle"> {{postagem.titulo}} </h5>
                    </div>

                    <div class="col-md-4 d-flex justify-content-end ">
                        <button class="btn btn-outline-info mr-3" [routerLink] = "['/editar', postagem.id]">
                            Editar
                     </button> 

                     <button class="btn btn-outline-danger" [routerLink] = "['/deletar',
                     postagem.id]">Apagar</button>
                    </div>
                </div>
                

                

             </div>

             <div class="card-body">
                 <p class="card-text"> {{postagem.texto}} </p>

                 <small class="form-text m-0 text-muted mb-3 text-monospace">
                     
                    Postado em: {{postagem.data | date: 'dd/MM/yyyy'}} às:
                    {{ postagem.data | date: 'HH:mm'}}
                
                </small>
                
             </div>

         </div>
        </div>
    </div>



</div>